/* html要素のフォントサイズを20pxに設定 */
html {
  font-size: 20px;
}
/* 全体のフォント種類とテキストの中央寄せ */
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
/* h1の装飾 */
h1 {
  /* Googleフォント Josefin Sans を適用、フォントサイズはルート(20px)の2倍 */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  /* 文字間を文字サイズの1.2倍に設定 */
  letter-spacing: 1.2em;
  /* 影の設定（右、下、ぼかし、色） */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* 下線（3pxの実線、指定カラー） */
  border-bottom: 3px solid rgb(115, 115, 114);
}
/* スカイブルーのクラス（キーワード指定） */
.blue {
  color: skyblue;
}
/* ピンクのクラス（rgb指定） */
.pink {
  color: rgb(255, 192, 203);
}
/* 子孫要素の指定：id="basic" の中にある p 要素のみを太字にする */
#basic p {
  font-weight: bold;
}