* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#top {
  width: 800px;             
  background: #dcc9f4;     
  margin: 20px auto;        
  padding: 20px 0;           
  display: flex;           
  justify-content: center;
  align-items: center;
  gap: 20px;               
}
#top .top-child {
  width: 20%;               
  background: #ffd9df;     
  text-align: center;       
  padding: 8px 6px;          
  margin: 0;                
  line-height: 1;           
}
#middle {
  width: 800px;              
  height: 800px;            
  margin: 20px auto;         
  background: #ffd9df;     
  position: relative;        
  overflow: hidden;          
}
#middle > div {
  width: 200px;
  height: 200px;
  background: #87ceeb;
  position: absolute;       
}
#middle-child01 {
  top: 100px;
  left: 100px;
}
#middle-child02 {
  top: 300px;
  left: 300px;
}
#middle-child03 {
  top: 500px;
  left: 500px;
}
#bottom {
  width: 800px;             
  height: 300px;            
  margin: 20px auto;        
  background: #87ceeb;      
  position: relative;        
}
#bottom > div {
  width: 400px;
  height: 100px;
  background: #e5dcf0;
}
#bottom-child02 {
  position: relative;        
  left: 200px;              
}
#bottom-child03 {
  position: relative;
  left: 400px;              
}